<section  class="secondForm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 firstColumn">
        <h1>That's 262 minutes per day of unpaid labour for women vs. 
          135 minutes per day of unpaid labour for men.</h1>
        <img src="/images/family2.png">
      </div>

      <div class="col-md-6 col-sm-12">

          <form method="POST" action="/form/{{userId}}">
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control rounded-pill" id="age" name="age" placeholder="Your age">
            </div>

            <div class="form-group">
                <label for="select">Do you live in a city?</label>
                <select class="form-control rounded-pill" id="select" name="location">
                    <option  value='Urban'>Yes</option>
                    <option  value='Rural'>No</option>
                </select>
              </div>
            
              <div class="form-group">
                <label for="select">Gender?</label>
                <select class="form-control rounded-pill" id="select" name="sex">
                    <option  value=1>Female</option>
                    <option  value=0>Male</option>
                </select>
              </div>
              <br><br>
              <p><strong>How long do you spend doing other house chores everyday?</strong></p>
              <small class="form-text text-muted">Estimate in minutes</small>

              <div class="form-group">
                <label for="cooking">How long do you spend cooking everyday?</label>
                <input type="number" class="form-control rounded-pill" id="cooking" name='cooking' placeholder="In minutes">
               

                <label for="cleaning">How long do you spend cleaning everyday?</label>
                <input type="number" class="form-control rounded-pill" id="cleaning" name='cleaning' placeholder="In minutes">
                

                <label for="loundry">How long do you laundry everyday?</label>
                <input type="number" class="form-control rounded-pill" id="loundry" name='loundry' placeholder="In minutes">
                

                <label for="other">How long do you spend doing other house chores everyday?</label>
                <input type="number" class="form-control rounded-pill" id="other" name='other' placeholder="In minutes">
               
              </div>

            <button type="submit" class="btn rounded-pill">Submit</button>
          </form>
      </div>
    </div>



  
</div>

</section>