<section  class="secondForm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 first-section">
        <img src="/images/family2.png">
      </div>

      <div class="col-md-6 col-sm-12">

          <h1>That's 262 minutes per day of unpaid labour for women
              vs.
              135 minutes per day of unpaid labour for men. 
          </h1>

          <form method="POST" action="/form">
            <div class="form-group">
              <label for="InputName">Age</label>
              <input type="number" class="form-control" id="number" placeholder="Your age">
            </div>

            <div class="form-group">
              <label for="AgeRange">Age Range</label>
              <select class="form-control" id="ageRange">
                <option>16-23</option>
                <option>24-30</option>
                <option>31-35</option>
                <option>36-42</option>
                <option>43-50</option>
              </select>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
              Urban
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
              Rural
              </label>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn rounded-pill">Submit</button>
          </form>
      </div>
    </div>



  
</div>

</section>
