<section  class="secondForm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 first-section">
        <img src="/images/family2.png">
      </div>

      <div class="col-md-6 col-sm-12">

          <h1>That's 262 minutes per day of unpaid labour for women
              vs.
              135 minutes per day of unpaid labour for men. 
          </h1>

          <form method="POST" action="/form/{{userId}}">
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control" id="age" name="age" placeholder="Your age">
            </div>

            <div class="form-group">
                <label for="select">Do you live in a city?</label>
                <select class="form-control rounded-pill" id="select" name="location">
                    <option  value='Urban'>Yes</option>
                    <option  value='Rural'>No</option>
                </select>
              </div>
            
              <div class="form-group">
                <label for="select">Gender?</label>
                <select class="form-control rounded-pill" id="select" name="sex">
                    <option  value=1>Female</option>
                    <option  value=0>Male</option>
                </select>
              </div>

              <div class="form-group">
              <label>How many minutes per day do you spend on this task?</label> <br>
              <label for="cooking">cooking</label>
              <input type="number" class="form-control" id="cooking" name='cooking' placeholder="place a number">
              <label for="cleaning">cleaning</label>
              <input type="number" class="form-control" id="cleaning" name='cleaning' placeholder="place a number">
              <label for="loundry">laundry</label>
              <input type="number" class="form-control" id="loundry" name='loundry' placeholder="place a number">
              <label for="other">other</label>
              <input type="number" class="form-control" id="other" name='other' placeholder="place a number">
            </div>

            <button type="submit" class="btn rounded-pill">Submit</button>
          </form>
      </div>
    </div>



  
</div>

</section>